@page "/"
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<AppHeader Text="Home"></AppHeader>

<div class="main">
    <div class="flex items-center">
        <div class="flex flex-col">
            <AppButton Text="Create Archive" OnClickCallback="NavigateToCreateArchive"></AppButton>
            <AppButton Text="Restore Archive"></AppButton>
        </div>
    </div>
</div>

@code {
    public void NavigateToCreateArchive()
    {
        Navigation.NavigateTo("/CreateArchive");
    }
}
